@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

body {
	background: no-repeat center center fixed;
	font-family: 'Roboto', sans-serif;
	background-size: cover;
	color: white;
}

h1 {
	font-size: 6em;
	font-weight: 800;
	margin: 0;
}

p {
	font-size: 2em;
	font-weight: 300;
	margin: 0;
}

.centered {
	text-align: center;
	margin-top: 18rem;
}